@import url('https://fonts.googleapis.com/css2?family=Explora&family=Moon+Dance&family=Prosto+One&family=Righteous&display=swap');

header{
    display: inline;
}
.navbar{
    background-color: black;
    position: sticky;
    top: 0px;
    width: 100%;
    
}
.navbar ul{
    overflow: auto;
    height: 3rem;
}
.navbar li.left{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-family: 'Prosto One', cursive;
    
}
.navbar li a:hover{
    background-color: rgb(204, 96, 57);
    color: black;
}
.navbar li.right{
    float:right;
    list-style: none; 
    margin: 13px 20px;
}


h2{
    -webkit-text-size-adjust: 100%;
    pointer-events: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Times New Roman",Times,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .5em;
    line-height: 1.7em;
    text-transform: uppercase;
    color: #2d2926;
    margin-top: 2;
    text-align: center;
    white-space: pre-wrap;
    margin-bottom: 0px;
    margin-top: auto;
   
}

.container{
    -webkit-text-size-adjust: 100%;
    pointer-events: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Times New Roman",Times,serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    color: #2d2926;
    margin-top: 0;
    text-align: justify;
    white-space: pre-wrap;
    
}

.container p{
    padding-top: 0px;
    padding-left: 38vh;
    padding-right: 40vh;
    white-space: pre-wrap;
    padding-bottom: 0px;
    text-align: justify;
}

hr{
    box-align: center;
    size: 1px;
    width: 148vh;

}

button{
    border-style:hidden;
    margin: auto;
    padding: 1vh;
    background-color: white;
    font-size: 4vh;
}

.about{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    align-items: center;
}
.about div.box{
    color: white;
    margin: 3rem;
    align-items: centre;
}
